extends ../index
block content
  h1 Contact
  img.movieposter(src='/assets/Contact-movie-poster.jpg')
  p Dumb and Dumber was released in 1994 and is one of my favorite Jim Carrey movies.
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate tortor ac arcu sollicitudin porta. Suspendisse potenti. Suspendisse potenti. Phasellus ornare congue rutrum. Sed sed massa eget est posuere euismod id vitae turpis. Praesent imperdiet quis sapien a tristique. Proin rhoncus ullamcorper enim, at tristique augue porta id. Nulla vitae hendrerit justo. Aenean vestibulum, dui eget malesuada egestas, elit nisi suscipit diam, sit amet pellentesque erat est eu nibh. Mauris mollis felis quis enim dignissim elementum. Mauris nec sollicitudin sapien.
