extends ../index
block content
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis tellus felis. Fusce varius, diam non suscipit interdum, magna tortor sodales purus, sed bibendum ante purus non dui. Nunc imperdiet faucibus dignissim. Praesent consequat nulla vehicula, finibus nisi ut, faucibus sem. Quisque nunc felis, hendrerit vel venenatis a, viverra eu felis. Aliquam et luctus elit. Aliquam vel rutrum nunc, eu ultrices est. In nisl sapien, dictum et dui et, cursus laoreet arcu. Vestibulum sagittis sapien turpis, tristique luctus nisi euismod in. Etiam ex augue, bibendum id vehicula vel, venenatis vitae ex. Sed pretium justo et rhoncus maximus.
  p Nullam vehicula, diam luctus egestas maximus, urna ante pulvinar augue, ut dapibus elit ligula a mi. Fusce sit amet ultricies diam. Vivamus aliquam sapien velit, nec pulvinar felis laoreet eget. Phasellus egestas tellus at consequat dapibus. Suspendisse blandit dolor aliquet ante semper congue. Suspendisse arcu arcu, convallis sit amet facilisis vitae, varius eget risus. Ut ullamcorper tristique leo. Etiam non tortor vel eros blandit auctor. Proin vitae arcu et eros volutpat blandit. Vestibulum varius auctor orci sodales rutrum. Cras finibus turpis a sodales hendrerit. Morbi nunc lacus, rhoncus vitae dictum id, laoreet et dolor.
  h3.subheader Movie Reference Links
  ul
    li#movieref: a(href="http://rottentomatoes.com") Rotten Tomatoes
    li#movieref: a(href="http://imdb.com") IMDB
    li#movieref: a(href="http://entertainment.suntimes.com/category/movies/") Chicago Sun Times
